# Ignore Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore OS / IDE files
.DS_Store
Thumbs.db
*.swp

# Ignore GNN data folder
GNN/smart-contract-backend/data/
GNN/smart-contract-frontend/frontend/node_modules
GNN/smart-contract-frontend/node_modules