# Web Framework & Server
Flask
Flask-Cors
gunicorn
werkzeug

# Machine Learning & AI
torch
torch_geometric
tensorflow
scikit-learn
numpy
pandas
joblib
tqdm

# Smart Contract Analysis
slither-analyzer
solc-select